<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <% if (user) { %>
      <h5>Hoşgeldin  <%= user.name  %> </h5>
      <h3>insanlarla ilgi alanına göre eşleşmek için tam zamanı start diyerek güzel bir sohbet geçirmeni dilerim</h3>
      <form action="">
        <a href="/chat" class="btn">Start message</a>
      </form>

    <% }  else{%>
    <h3>insanlarla ilgi alanına göre eşleşmek ve sohbet etmek için lütfen giriş yapın</h3>
    <%   }%>
  </div>


  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
  integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
  crossorigin="anonymous">
</script>
<script src="../socket.io/socket.io.js"></script>
<script src="../app.js"></script>
</header>


<%- include('partials/footer'); -%>
