<%- include('partials/header'); -%>

<form action="/login"  method="POST">
  <h2>Login</h2>
  <% if (locals.validation_error !=undefined || locals.success_message !=undefined ||locals.login_error != undefined ){ %>
    <%- include('./partials/_mesaj')  %> 
   <% } %>
  <label >Email</label>
  <input type="text" name="email"  />


  <label >Password</label>
  <input type="password" name="password"  />
  
  <button>Login</button>
</form>

<%- include('partials/footer'); -%>